html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
}
table {
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  border-style: solid;
}
table * {
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  border-style: solid;
  width: 4800px;
}
table th {
  background-color: rgb(241, 241, 241);
}
table tr:nth-child(odd) td {
  background: rgb(241, 241, 241);
}
blockquote {
  border-left: 2px solid rgb(221, 221, 221);
  font-style: italic;
  line-height: 3;
  padding-left: 35px;
  text-align: left;
}
blockquote p:nth-child(2) {
  text-align: right;
}
