@media all and (max-width: 600px) {
  .w3-right.w3-hide-small {
    width: 0px;
    height: 0px;
  }
  .w3-col.m6.w3-padding-large.w3-hide-small {
    width: 0;
    height: 0;
  }
  .w3-padding-64 {
    padding-top: 24px;
    padding-bottom: 64px;
}
  .w3-col.m6.w3-padding-large {
    width: 100%;
  }
  .w3-col.l6.w3-padding-large:nth-child(2){
      order: 2;
      width: 100%;

  }
  .w3-col.l6.w3-padding-large:nth-child(1){
    width: 100%;
}

}
  
