html {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
}
body {
  background-color: rgb(245, 245, 245);
}
body {
  display: flex;
  flex-direction: row;
}
section {
  display: flex;
}
.gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}
li {
  display: flex;
  flex-direction: row;
}
img {
  border: 7px solid black;
  margin: 10px 5px;
  box-shadow: 1px 1px 7px 7px lightgrey;
  padding: 30px 12px;
  object-fit: scale-down;
  transform: scale(0.9);
}
