html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
body {
  display: flex;
  align-content: center;
  justify-content: center;
}
h2 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
}
section {
  max-width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
article {
  margin: 0 15px;
}
