html {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family: Georgia, serif;
}
.site-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
}
.second-article-content-middle blockquote {
  font-style: italic;
}
a {
  text-decoration: none;
}
