html{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
main{
    /* width:80vw; */
    height: 50vh;
    padding: 80px 150px;
}
h1,h2,h3,h4,h5,h6{
    font-family: Georgia,  serif;
}
.ad-wrapper{
    position: relative;
}
.ad-title{
    font-size: 45px;
}
.ad-content{
    display: flex;
    align-items: flex-end
}
.ad-content-btn{
    width: 40%;
}
.btn{
    vertical-align: bottom;
    padding: 15px 60px;
    background-color: rgb(3, 168, 124);
    border:none;
    border-radius: 4px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.ad-content-text{
    width: 50%;
}
.ad-content-text-title{
    font-size: 20px;
}
.ad-sub-title,
.ad-content-text-inner{
    color: grey;
}
.ad-content-text-inner span{
    background-color: rgb(206, 253, 233);
}
.ad-content-text-inner{
    margin-bottom: 0px;
}
.ad-wrapper::after{
    content:'';
    height: 1px;
    width: 250px;
    border-bottom: 2px solid grey;
    position: absolute;
    bottom: -13%;
    left: 30%;
}
